<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vrebo.itver.contactbookprovider">

    <permission android:name="org.itver.vrebo.CONTACT_BOOK_PROVIDER"
        android:protectionLevel="normal"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
        <provider
            android:name=".ContactBookProvider"
            android:authorities="mx.edu.itver.contact-book.provider"
            android:exported="true"/>
    </application>

</manifest>
